<!-- Navigation Header Component -->
<div class="header" style="width:100%;max-width:900px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;padding-bottom:0px">
  <a href="{{HOME_LINK}}" class="logo" style="color:black;font-size:18px; padding-top:30px">
    <img src="{{LOGO_PATH}}" height="80">
  </a>
  <div class="header-right" style="padding-top:50px;">
    {{NAVIGATION_LINKS}}
    <br>
    <div class="header-right" style="padding-top:0px;">
      <a href="{{GITHUB_LINK}}"><i class="fa fa-github" style="font-size:28px;color:black;"></i></a>
    </div>
  </div>
</div>
