<!-- Person Profile Component -->
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <td style="padding-left:20px;padding-bottom:20px;width:15%;vertical-align:middle">
      <img src="{{IMAGE_PATH}}" style="border-radius:10%/10%;width:120px;{{IMAGE_STYLE}}">
    </td>
    <td style="padding-left:35px;padding-bottom:20px;width:100%;vertical-align:left">
      <profile-name>{{NAME}}</profile-name>
      <br>
      <i>{{TITLE}}</i>
      {{AFFILIATION}}
      <br>
      <p></p>
      {{PROFILE_LINKS}}
      <br>
      <p></p>
    </td>
  </tbody>
</table>
