<!-- Publication Item Component -->
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr>
      <td style="padding-left:20px;padding-bottom:20px;width:15%;vertical-align:middle">
        <img src="{{IMAGE_PATH}}" style="border-radius:5%/10%;width:200px;">
      </td>
      <td style="padding-left:35px;padding-bottom:20px;width:100%;vertical-align:left">
        <papertitle>{{TITLE}}</papertitle>
        <br>
        {{AUTHORS}}
        <br>
        <em>{{VENUE}}</em>, {{YEAR}}
        <br>
        <br>
        {{LINKS}}
        <p></p>
      </td>
    </tr>
  </tbody>
</table>
